<!DOCTYPE html>
<html>
<head>
  <title>Buzzer</title>
  <%= stylesheet_link_tag 'style' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
  <%= javascript_include_tag 'jquery','buzz', 'application' %>
</html>
